<header>
  <div>
    <a href="/">
      <h1>Best Books!</h1>
    </a>
  </div>
  <nav>
    <div class="icon/menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searches/new">Search Google Books API</a></li>
      </ul>
    </div>
  </nav>
</header>